body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 80%;
  background-color: #eee;
  margin: 4px;
}
.borderBox {
  background-color: #fff;
  padding: 4px;
}
#mainBorderBox {
  margin-top: 4px;
}
#titleLine {
  min-width: 300px;
  min-height: 48px;
  text-align: right;
}
#titleLine h2 {
  display: inline;
  font-size: 20px;
  padding-right: 12px;
}
#titleLine img {
  vertical-align: middle;
}
#ctrlButtons {
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 40px;
}
#nomap {
  display: none;
}
#ctrlButtons a {
  text-decoration: none;
  color: #333;
}
#ctrlButtons a:hover {
  color: #777;
}
.linkLineImg {
  vertical-align: middle;
}
a.maplink:hover {
  background-color: #aae5f5;
}
.serviceLine {
  margin: 1px 0px;
}
.serviceName {
  font-size: 1.05em;
  padding-right: 3px;
}
.maplink {
  padding: 1px;
}

/* animated loading dots from https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation */

@keyframes blink {
  0% {
  opacity: .2;
  }
  20% {
  opacity: 1;
  }
  100% {
  opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

.loading {
  font-size: 44px;
  font-family: serif;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.4em;
}

.tipsy-inner {
  background-color: #3399dd;
}

h4 {
  margin: 0.8em 0em 0.5em 0em;
}

#maplinkbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

#warningModal {
  display: none;
  z-index: 1;
  top: 0px;
  overflow: auto;
  background-color: rgb(256,256,256);
  background-color: rgba(256,256,256,0.7);
  position: absolute;
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.modalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#nonUpdatingHost {
  font-family: monospace;
  font-size: larger;
  color: #666;
}

.warning {
  font-weight: bold;
  font-size: 14px;
}

#nonupdating div {
  margin-bottom: 0.4em
}

#sourceDescr {
  background-color: #e8e8e8;
  color: #999;
  padding: 2px 4px;
  line-height: 1.5em;
  display: none;
}

#sourceDescr .lbl {
  font-style: italic;
}

#sourceDescr .descrVal {
  color: #666;
}

#sourceLocnVal {
  font-family: monospace;
  font-size: 11px;
}

#sourceDirn {
  display: none;
}