body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 80%;
  background-color: #eee;
  margin: 4px;
}
.borderBox {
  background-color: #fff;
  padding: 4px;
}
#mainBorderBox {
  margin-top: 4px;
}
#titleLine {
  min-width: 300px;
  min-height: 48px;
  text-align: right;
}
#titleLine h2 {
  display: inline;
  font-size: 20px;
  padding-right: 12px;
}
#titleLine img {
  vertical-align: middle;
}
#ctrlButtons {
  font-size: 12px;
  position: absolute;
  left: 8px;
  top: 40px;
}
#nomap {
  display: none;
}
#ctrlButtons a {
  text-decoration: none;
  color: #333;
}
#ctrlButtons a:hover {
  color: #777;
}
#linktooltip {
  position: absolute;
  top: 100px;
  left: 20px;
  background-color: #bbb;
}
.linkLineImg {
  vertical-align: middle;
}

/* animated loading dots from https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation */

@keyframes blink {
  0% {
  opacity: .2;
  }
  20% {
  opacity: 1;
  }
  100% {
  opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

.loading {
  font-size: 44px;
  font-family: serif;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.4em;
}