body {
  font-family: sans-serif;
  font-size: 75%;
  background-color: #eee;
  margin: 4px;
}
.borderBox {
  background-color: #fff;
  padding: 4px;
}
#mainBorderBox {
  margin-top: 2px;
  display: inline-block;
  background-color: #eee;
}
#titleLine {
  min-width: 300px;
  min-height: 48px;
  text-align: right;
}
#titleLine h2 {
  display: inline;
  font-size: 20px;
  padding-right: 12px;
}
#titleLine img {
  vertical-align: middle;
}
#ctrlButtons {
  position: absolute;
  top: 42px;
}
#ctrlButtons svg {
  width:16px;
  height:16px;
}
#ctrlButtons svg:hover {
  fill: #777;
}
#nomap {
  display: none;
}
#ctrlButtons a {
  text-decoration: none;
  color: #333;
}
#ctrlButtons a:hover {
  color: #777;
}
.linkLineImg {
  vertical-align: middle;
}
a.maplink:hover {
  background-color: #aae5f5;
}
a.maplink:active {
  color: #110066;
}
.serviceLine {
  margin: 1px 0px;
}
.serviceName {
  font-size: 1.05em;
  padding-right: 3px;
}
.maplink {
  padding: 1px;
}
.linknote svg {
  width: 12px;
  height: 12px;
}

/* animated loading dots from https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation */

@keyframes blink {
  0% {
  opacity: .2;
  }
  20% {
  opacity: 1;
  }
  100% {
  opacity: .2;
  }
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

.loading {
  font-size: 44px;
  font-family: serif;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0.4em;
}

.tippy-backdrop  {
  background-color: #3399dd;
}

.tippy-content {
  font-size: 12px;
}

h4 {
  margin: 0.8em 0em 0.5em 0em;
}

#maplinkbox {
  display: flex;
  /*flex: 2;*/
  flex-direction: column;
  flex-wrap: wrap;
  /*position: relative;*/
  max-height: 470px;
  width: 538px;
  overflow-x: auto;
}

.maplinkcat {
  max-width: 260px;
  margin: 0px 4px;
}

#warningModal {
  display: none;
  z-index: 1;
  top: 0px;
  overflow: auto;
  background-color: rgb(256,256,256);
  background-color: rgba(256,256,256,0.7);
  position: absolute;
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.modalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#nonUpdatingHost {
  font-family: monospace;
  font-size: larger;
  color: #666;
}

.warning {
  font-weight: bold;
  font-size: 14px;
}

#nonupdating div {
  margin-bottom: 0.4em
}

#sourceDescr {
  background-color: #fff;
  color: #999;
  padding: 2px 4px;
  line-height: 1.5em;
  display: none;
}

#sourceDescr .descrItem {
  display: inline-block;
  padding-right: 10px;
}

#sourceDescr .lbl {
  font-style: italic;
}

#sourceDescr .descrVal {
  color: #666;
}

#sourceLocnVal {
  font-family: monospace;
  font-size: 11px;
}

#sourceDirn {
  display: none;
}




/******** Options **********/


body#optionsPage {
  font-family: sans-serif;
  font-size: 75%;
  background-color: white;
  margin: 4px;
}
article.options {
  margin: 1em 2em 1em 3em;
}
#optionsPage .borderBox {
  padding: 0px;
}
#optionsTitleLine {
  margin-bottom: 2em;
}
#optionsTitleLine h2 {
  display: inline;
  font-size: 22px;
  padding-right: 12px;
}
#optionsTitleLine img {
  vertical-align: middle;
}
.srvTickList {
  float: left;
  margin: 0.4em 2.4em 1.8em 2.4em;
  list-style-type: none;
  border-collapse: collapse;
}
.srvTickList th {
  border-bottom: 2px solid #999;
  padding-bottom: 4px;
}
.srvTickList td {
  padding-top: 3px;
  padding-bottom: 3px;
}
#status {
  color: #666;
  margin-top: 0.6em;
  clear: both;
  min-height: 1.1em;
}
.services p {
  color: #555;
}
.imgcell {
  padding: 0px 6px;
}
.chkboxcell {
  padding: 0px 12px;
}
.mapnamecell {
  vertical-align: middle;
  min-width: 110px;
}
section.services {
  margin: 2em 0em 2em 0em;
}
.srvTickList td.dragcell {
  padding: 5px 0px 5px 0px;
  display: table-cell;
}
.srvTickList td.dragcell svg {
  width: 12px;
  fill: #ddd;
}
.srvTickList th.srvTitle {
  text-align: left;
  padding-left: 28px;
}
button#reset {
  margin-top: 4em;
}
button#reset svg {
  width: 12px;
}
.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
.sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}
.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.sortableChosen {
  opacity: 1.0;
  background-color: #eee;
}

.sortableGhost {
  opacity: 0.2;
}

.container--tabs {
  /* margin: 2rem; */
}
.container--tabs .nav-tabs {
  float: left;
  width: 100%;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #ddd;
  padding-inline-start: 0px;
}
.container--tabs .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.container--tabs .nav-tabs > li > a {
  float: left;
  margin-right: 2px;
  line-height: 1.42857143;
  padding: 4px;
  border: 1px solid #eaeaea;
  border-radius: 8px 8px 0 0;
  background-color: #fafafa;
  text-decoration: none;
  color: #777;
}
.container--tabs .nav-tabs > li > a:hover {
  border-color: #f5f5f5;
  color: #333;
  background-color: #fefefe;
}
.container--tabs .nav-tabs > li.active > a,
.container--tabs .nav-tabs > li.active > a:hover,
.container--tabs .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  font-weight: 700;
}
.container--tabs .tab-content {
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.container--tabs .tab-content > .tab-pane {
  display: none;
}
.container--tabs .tab-content > .tab-pane.active {
  display: block;
  /* padding: 2.5% 3.5%; */
  /* background-color: #eee; */
}
.container--tabs .tab-content > .active {
  display: block;
}
